/* .green{
    color:green;
} */
 /* *{
    margin: 0;
    padding: 0;
 }

 body{
    text-align: center;

 }
 div{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    margin: 0 auto;
 }
 button{
    margin-top: 00px;
    padding: 10px;
    border-radius: 230px;
    border: none;
    background-color: black;
    color: azure;
    cursor: pointer;
 }

h3{
    margin-top: 200px;
} */
/* div{
   background-color: pink;
   height: 400px;
   width: 500px;
}
ul{
   background-color: blueviolet;
}
li{
   background-color: blue;
} */